<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1 class="display-1">{{ name }}</h1>
<table id="datatable" class="table table-hover">
	<thead>
	<tr>
		<th>Date</th>
		<th>Approved</th>
		<th>Origin teacher</th>
		<th>Destination</th>
		<th>Start requested</th>
		<th>Time Left</th>
		<th>End requested</th>
		<th>Time Arrived</th>
	</tr>
	</thead>
	<tbody>
	{% for p in pass %}
		<tr>
			<td>{{ p.dateString }}</td>
			<td>{{ p.approved }}</td>
			<td>{{ p.origin_teacher }}</td>
			<td>{{ p.destinationString }}</td>
			<td>{{ p.startReqString }}</td>
			<td>{{ p.timeLeftString }}</td>
			<td>{{ p.endReqString }}</td>
			<td>{{ p.timeArrivedString }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</body>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            colReorder: true,
            responsive: false,
            "autowidth": true,
            "searching": true,
            paging: true,
            info: false,
            stateSave: true,
            columnDefs: [
                {targets: 'no-sort', orderable: false}
            ],
            "language": {
                "emptyTable": "Something has gone wrong."
            }
        });
    });
</script>
</html>