{% include 'header.html' %}
{% include 'navbar.html' %}

<link rel="stylesheet" href="/static/css/student/home.css">

<body>

<h1 class="display-1">Passes
    <div class="expand" style="display: inline-block">
        <a class="plus" data-toggle="collapse" href="#collapseNewPassForm" aria-pressed="true" role="button" aria-expanded="false" aria-controls="collapseNewPassForm">+</a>
    </div>
</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 collapse" id="collapseNewPassForm">
        {% include 'student/request_pass_fragment.html' %}
    </div>
</div>

{% if active %}
    <h1 class="pass-type">Active</h1>
    <div class="card-container">
        {% for pass in active %}
                {% include 'student/student_pass_fragment.html' %}
        {% endfor %}
    </div>
{% endif %}

{% if pending %}
    <h1 class="pass-type">Pending</h1>
    <div class="card-container">
        {% for pass in pending %}
            {% include 'student/student_pass_fragment.html' %}
        {% endfor %}
    </div>
{% endif %}

{% if old %}
    <h1 class="pass-type">Old</h1>
    <div class="card-container">
        {% for pass in old %}
            {% include 'student/student_pass_fragment.html' %}
        {% endfor %}
    </div>
{% endif %}

{% if active and pending and old %}
    <h1 class="pass-type text-center mt-5">No passes. Add one with the plus button above or wait for a teacher to send one.</h1>
{% endif %}

</body>

{% include 'scripts.html' %}