{% include 'header.html' %}

{% include 'navbar.html' %}

{% load static %}

<link rel="stylesheet" href="/static/css/teacher/home.css">

<body>
<h1 class="display-1">Passes
    <div class="expand" style="display: inline-block">
        <a class="plus" data-toggle="collapse" href="#collapseNewPassForm" aria-pressed="true" role="button" aria-expanded="false" aria-controls="collapseNewPassForm">+</a>
    </div>
</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 collapse" id="collapseNewPassForm">
        {% include 'teacher/new_pass_fragment.html' %}
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-block" id="active-button" href="#">Active</a>
    </div>
    <div class="col-md-4" style="padding-left: 65px; padding-right:65px">
        <a class="btn btn-secondary btn-block" id="pending-button" href="#">Pending</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block" id="old-button" href="#">Old</a>
    </div>
    <div class="col-md-1"></div>

</div>

<div id="active-fragment">
    {% include 'student/active_fragment.html' %}
</div>

<div id="pending-fragment" style="display: none;">
    {% include 'student/pending_fragment.html' %}
</div>

<div id="old-fragment" style="display: none;">
    {% include 'student/old_fragment.html' %}
</div>

</body>

{% include 'scripts.html' %}
<script>
    $(document).ready(function() {
        var expanded = false;
        $('.expand').click(function() {
            if (expanded){
                $(this).css({'transform' : 'rotate('+ 0 +'deg)'});
            } else {
                $(this).css({'transform' : 'rotate('+ 45 +'deg)'});
            }
            expanded = !expanded;
        });
    });
    var $active_button = $('#active-button');
    var $pending_button = $('#pending-button');
    var $old_button = $('#old-button');

    var $active_fragment = $('#active-fragment');
    var $pending_fragment = $('#pending-fragment');
    var $old_fragment = $('#old-fragment');
    function activate(elem, frag) {
        frag.show();
        elem.removeClass('btn-secondary');
        elem.addClass('btn-primary');
    }
    function deactivate(elem, frag) {
        frag.hide();
        elem.addClass('btn-secondary');
        elem.removeClass('btn-primary');
    }
    $active_button.click(function(e){
        activate($active_button, $active_fragment);
        deactivate($pending_button, $pending_fragment);
        deactivate($old_button, $old_fragment);
    });
    $pending_button.click(function(e){
      deactivate($active_button, $active_fragment);
      activate($pending_button, $pending_fragment);
      deactivate($old_button, $old_fragment);
    });
    $old_button.click(function(e){
      deactivate($active_button, $active_fragment);
      deactivate($pending_button, $pending_fragment);
      activate($old_button, $old_fragment);
    });
</script>
