{% load standard_tags %}
<link rel="stylesheet" href="/static/css/pass.css">
<div class="pass-card card" style="max-width: 18rem;">
    <div class="card-body">
        {% if pass|get_class == 'TeacherPass' %}
            <h5 class="card-title">{{ pass.destinationTeacher }}</h5>
        {% elif pass|get_class == 'SRTPass' %}
            <h5 class="card-title">{{ pass.destinationTeacher }}</h5>
        {% elif pass|get_class == 'LocationPass' %}
            <h5 class="card-title">{{ pass.location }}</h5>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">{{ pass.date|date:"N j Y" }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"P" }}
            - {{ pass.endTimeRequested|date:"P" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Left: {{ pass.timeLeftOrigin|default:"N/A" }}</li>
        <li class="list-group-item">Time Arrived: {{ pass.timeArrivedDestination|default:"N/A" }}</li>
        <li class="list-group-item">Origin Teacher: {{ pass.originTeacher.profile.name }}</li>
    </ul>
</div>