<div class="pass-card card" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pass.destinationTeacher }}</h5>
        <h5 class="card-subtitle mb-2 text-muted">{{ pass.startTimeRequested|date:"N j Y" }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"P" }}
            - {{ pass.endTimeRequested|date:"P" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Left: {{ pass.timeLeftOrigin }}</li>
        <li class="list-group-item">Time Arrived: {{ pass.timeArrivedDestination }}</li>
        <li class="list-group-item">Origin Teacher: {{ pass.originTeacher.profile.name }}</li>
    </ul>
</div>