{% include 'header.html' %}

{% include 'navbar.html' %}

{% load static %}

{% load user_agents %}

<body>
<h1 class="display-1">Passes
    <div class="expand" style="display: inline-block">
        <a class="plus" data-toggle="collapse" href="#collapseRequestPassForm" aria-pressed="true" role="button" aria-expanded="false" aria-controls="collapseRequestPassForm">+</a>
    </div>
</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 collapse" style="margin-left: 2%; overflow:visible;"id="collapseRequestPassForm">
        {% include 'student/fragments/request_pass_fragment.html' %}
    </div>
</div>



{% if request|is_pc %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block btn-round" id="active-button" href="#active">Active</a>
    </div>
    <div class="col-md-4" style="padding-left:4%; padding-right:4%">
        <a class="btn btn-secondary btn-block btn-round" id="pending-button" href="#pending">Pending</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block btn-round" id="old-button" href="#old">Old</a>
    </div>
    <div class="col-md-1"></div>

</div>
{% else %}
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" id="active-button" href="#active">Active</a>
    <a class="dropdown-item" id="pending-button" href="#pending">Pending</a>
    <a class="dropdown-item" id="old-button" href="#old">Old</a>
  </div>
</div>
{% endif %}


<div id="active-fragment" style="display: none;">
    {% include 'student/fragments/active_fragment.html' %}
</div>

<div id="pending-fragment" style="display: none;">
    {% include 'student/fragments/pending_fragment.html' %}
</div>

<div id="old-fragment" style="display: none;">
    {% include 'student/fragments/old_fragment.html' %}
</div>

</body>

{% include 'scripts.html' %}
<script src="{% static 'js/tabs.js' %}"></script>
<script>
    $(document).ready(function() {
        var expanded = false;
        $('.expand').click(function() {
            if (expanded){
                $(this).css({
                    'transform' : 'rotate('+ 0 +'deg)',
                    'transition' : 'transform 0.3s ease',
                    'transform-origin' : '50% 60%'
                });
            } else {
                $(this).css({
                    'transform' : 'rotate('+ 135 +'deg)',
                    'transition' : 'transform 0.3s ease',
                    'transform-origin' : '50% 60%'
                });
            }
            expanded = !expanded;
        });
    });
</script>
