[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==1.11.15"
django-filter = "*"
six = "*"
"django-select2" = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
drfdocs = "*"
minidetector = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
