[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==1.11.9"
django-filter = "*"
six = "*"
"django-select2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
