[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==1.11.9"
django-filter = "*"
django-searchable-select = "*"
django-autocomplete-light = "==3.2.10"
six = "*"

[dev-packages]

[requires]
python_version = "3.6"
