{% include 'header.html' %}

 <body>
    
    <h1 class="display-1"></h1>
    <input class="searchbar" placeholder="Search">

    {% for user in users %}
        <a href="{{user.id}}" class="user">
            <div>
                <p>{{user.username}}<p>
            </div>
        </a>
    {% endfor %}

 </body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        
        createUserObject = function(obj) {
            $('body').append(
                `<a href="${obj.pk}" class="user">
                    <div>
                        <p>${obj.username}</p>
                    </div>
                 </a>`
            );
        }
        
        $('input').keydown(function() {
            var username = $(this).val();
            var url = "/chat/api/users/?format=json&username="+username;
            $.ajax({url: url, success: function(response) {
                console.log(response);
                $('.user').remove();
                response.forEach(createUserObject);
            }})
        });
       
    });
</script>