{{ request_form.media.css }}

{% load static %}

<div class="card card-body card-form" style="width: 100%;">
    <div class="row mb-4">
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" id="set_type_teacher">Teacher</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" id="set_type_destination">Destination</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" id="set_type_srt">SRT</button>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        
        <div>{{ request_form.pass_type }}</div>
        <div class="row">
            <div class="col-md-6">
                <div id="id_destinationTeacher">
                    {# Destination Teacher Field #}
                    <div class="form-label" id="destinationTeacherLabel">Destination Teacher</div>
                    <div> {{ request_form.destinationTeacher }} </div>
                    {% for error in request_form.destinationTeacher.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                {# Location #}
                <div class="form-label" id="locationLabel">Location Label</div>
                <div style="margin-bottom: 24px;"> {{ request_form.location }} </div>
                {% for error in request_form.location.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {# Origin Teacher Field #}
                <div class="form-label" id="originTeacherLabel">Origin Teacher</div>
                <div> {{ request_form.originTeacher }} </div>
                {% for error in request_form.originTeacher.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {# Start and end time #}
        <div class="row">
            <div class="col-md-4">
                <div class="form-label">Date</div>
                <div> {{ request_form.date }} </div>
                {% for error in request_form.date.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            </div>
            <div class="col-md-4" id="start-time">
                <div class="form-label">Start Time</div>
                <div> {{ request_form.start }} </div>
                {% for error in request_form.start.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4" id="end-time">
                <div class="form-label">End Time</div>
                <div> {{ request_form.end }} </div>
                {% for error in request_form.end.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-8">
                {# SRT Session #}
                <div class="form-label" id="sessionLabel">Session</div>
                <div> {{ request_form.session }} </div>
                {% for error in request_form.session.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {# Reason #}
        <div class="form-label">Description</div>
        <div> {{ request_form.reason }} </div>
        {% for error in request_form.reason.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        {# Submit button #}
        <div class="center mt-3">
            <button class="btn btn-info btn-block" type="submit">Create</button>
        </div>
    </form>
</div>


{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% endblock %}

{{ request_form.media.js }}


<script>
    $('#set_type_teacher').click(function(e) {
        $('#id_pass_type').val("1");
        $('#select2-id_destinationTeacher-container').show();
        $('#id_destinationTeacher').show();
        $('#destinationTeacherLabel').show();
        $('#locationLabel').hide();
        $('#start-time').show();
        $('#end-time').show();
        $('#id_location').hide();
        $('#id_session').hide();
        $('#sessionLabel').hide();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_destination').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_srt').removeClass('btn-primary').addClass('btn-secondary');
    });
    $('#set_type_destination').click(function(e) {
        $('#id_pass_type').val("2");
        $('#select2-id_destinationTeacher-container').hide();
        $('#id_destinationTeacher').hide();
        $('#destinationTeacherLabel').hide();
        $('#locationLabel').show();
        $('#start-time').show();
        $('#end-time').show();
        $('#id_location').show();
        $('#id_session').hide();
        $('#sessionLabel').hide();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_teacher').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_srt').removeClass('btn-primary').addClass('btn-secondary');
    });
    $('#set_type_srt').click(function(e) {
        $('#id_pass_type').val("3");
        $('#select2-id_destinationTeacher-container').show();
        $('#id_destinationTeacher').show();
        $('#destinationTeacherLabel').show();
        $('#locationLabel').hide();
        $('#start-time').hide();
        $('#end-time').hide();
        $('#id_location').hide();
        $('#id_session').show();
        $('#sessionLabel').show();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_teacher').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_destination').removeClass('btn-primary').addClass('btn-secondary');
    });
    $(document).ready(function() {
        var d = new Date();
        $('#id_start').val(d.getHours()+":"+d.getMinutes());
        $('#id_end').val(d.getHours()+1+":"+d.getMinutes());
        // {# Hide things that should be hidden initially #}
        $('#id_location').hide();
        $('#locationLabel').hide();
        $('#id_session').hide();
        $('#sessionLabel').hide();
    });
</script>