{% load standard_tags %}
<div class="pass-card card">
    <div class="card-body">
        {% if pass.teacherpass %}
            <h5 class="card-title"><i class="fas fa-user-alt"></i> {{ pass.teacherpass.destinationTeacher.profile.name }}</h5>
        {% elif pass.srtpass %}
            {% if pass.srtpass.session == '1' %}
                <h5 class="card-title"><i class="fas fa-hourglass-start"></i> {{ pass.srtpass.destinationTeacher.profile.name }}</h5>
            {% elif pass.srtpass.session == '2' %}
                <h5 class="card-title"><i class="fas fa-hourglass-end"></i> {{ pass.srtpass.destinationTeacher.profile.name }}</h5>
            {% elif pass.srtpass.session == '3' %}
                <h5 class="card-title"><i class="fas fa-hourglass"></i> {{ pass.srtpass.destinationTeacher.profile.name }}</h5>
            {% endif %}
        {% elif pass.locationpass %}
            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> {{ pass.locationpass.location }}</h5>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">{{ pass.date|date:"N j Y" }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"P" }}
            - {{ pass.endTimeRequested|date:"P" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        {% if pass.timeLeftOrigin is not None %}
            <li class="list-group-item">Left Origin: {{ pass.timeLeftOrigin|default:"N/A" }}</li>
        {% endif %}
        {% if pass.timeArrivedDestination is not None %}
            <li class="list-group-item">Arrived Destination: {{ pass.timeArrivedDestination|default:"N/A" }}</li>
        {% endif %}
        {% if pass.srtpass %}
	        {% if pass.timeLeftDestination is not None %}
	            <li class="list-group-item">Left Destination: {{ pass.timeLeftDestination|default:"N/A" }}</li>
	        {% endif %}
	        {% if pass.timeArrivedOrigin is not None %}
	            <li class="list-group-item">Arrived Origin: {{ pass.timeArrivedOrigin|default:"N/A" }}</li>
	        {% endif %}
            <li class="list-group-item">{{ pass.srtpass.sessionStr }}</li>
        {% elif pass.specialsrtpass %}
                <li class="list-group-item">
                {% if user.profile.is_teacher and pass.specialsrtpass.destinationTeacher == user.profile.get_teacher and pass.timeArrivedDestination == None %}
                    <a href="/teacher/checkin/{{ pass.id }}">
                        <button class="btn btn-primary btn-block btn-round">Check In</button>
                    </a>
                {% else %}
                    Arrived Destination: {{ pass.timeArrivedDestination|default:"N/A" }}
                {% endif %}
                </li>
                {# Only shows the next time button when the student has arrived at the destination #}
                {% if pass.specialsrtpass.session == '1' and pass.specialsrtpass.timeArrivedDestination != None %}
                    <li class="list-group-item">
                    {% if user.profile.is_teacher and pass.specialsrtpass.destinationTeacher == user.profile.get_teacher and pass.specialsrtpass.timeLeftDestination == None %}
                        <a href="/teacher/checkout/{{ pass.id }}">
                            <button class="btn btn-primary btn-block btn-round">Check Out</button>
                        </a>
                    {% else %}
                        Left Destination: {{ pass.specialsrtpass.timeLeftDestination|default:"N/A" }}
                    {% endif %}
                    </li>
                {% endif %}
                {# Only shows the next time button when the student has left the destination #}
                {% if pass.specialsrtpass.session == '1' and pass.specialsrtpass.timeLeftDestination != None %}
                    <li class="list-group-item">
                    {% if user.profile.is_teacher and pass.originTeacher == user.profile.get_teacher and pass.specialsrtpass.timeArrivedOrigin == None %}
                        <a href="/teacher/checkin/{{ pass.id }}">
                            <button class="btn btn-primary btn-block btn-round">Check In</button>
                        </a>
                    {% else %}
                        Arrived Origin: {{ pass.specialsrtpass.timeArrivedOrigin|default:"N/A" }}
                    {% endif %}
                    </li>
                {% endif %}
        {% endif %}
        <li class="list-group-item">Origin Teacher: {{ pass.originTeacher.profile.name }}</li>
    </ul>
</div>
