/* General */
body {
    background-color: #F29D39;
}

h1 {
    color: white;
    text-align: center;
}

.btn {
	text-decoration: none;
}

a {
	text-decoration: none !important;
}

.plus {
    color: white;
    text-decoration: none !important;
}

.plus:hover {
    color: #eee;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-wrapper {
    margin: 10%;
}

.alert {
    width: 50vw;
    border-radius: 25px;
    color: white;
}

/* Login */
.login-input input {
    border-radius: 250px !important;
    background-color: #f6b26bff !important;
    border-style: solid !important;
    width: 100%;
    border-color: white !important;
    margin-top: 1.5vh;
    color: white !important;
    -webkit-padding-start: 3%;
  }

/* Home pages */
.dropdown-toggle::after {
    display: none;
}

.card-container::after {
	content: "";
	display: table;
	clear: both;
}

.card-container {
	margin-top: 20px;
	width: 100%;
	padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 0;
}

.card-form {
    border-radius: 20px;
    margin-bottom: 48px;
}

.select2-container {
    width: 100% !important;
}

.pass-card {
    margin: 1%;
	border-radius: 20px;
	height: 45vh;
	width: 50vw !important;
	float: left;
}

/* For rounded cards to not be jank*/
.list-group-item {
	background: none;
}

.pass-type {
    text-align: left;
    margin-left: 48px;
    margin-top: 24px;
}

.btn-round {
    border-radius: 25px;
}