{% include 'header.html' %}

<body>
    <div class="login">
      <h1 class="display-1">Login</h1>
      <form method="post">
        <div class="row">
          <div class="col-md-9">
            {% csrf_token %}
            {% for field in form %}
                {{field}}
            {% endfor %}
            <p class="signup"> Dont have an account? <a href="/accounts/signup" class="">Sign up</a></p>

          </div>
          <div class="col-md-3 login-col">
            <button type="submit" class="button"><i class="fas fa-arrow-right"></i></button>
          </div>
        </div>


      </form>
    </div>
    {% csrf_token %}
    {% for field in form %}
      {% ifnotequal field.errors None %}
        {% for error in field.errors %}
          <div class="alert alert-info" role="alert">
            <strong>{{field.label}}:</strong> {{error}}
          </div>
        {% endfor %}
      {% endifnotequal %}
    {% endfor %}

</body>
