{% include 'header.html' %}
<body>
<div class="signup">
    <h1 class="display-1">Sign Up</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% csrf_token %}
                {% for field in form %}
                    <div class="my-2">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-block btn-primary">Login</button>
                <p class="text-center"> Have an account? <a href="/login" class="">Login</a></p>
            </div>

        </div>


    </form>
</div>
{% csrf_token %}
{% for field in form %}
    {% ifnotequal field.errors None %}
        {% for error in field.errors %}
            <div class="alert alert-info" role="alert">
                <strong>{{ field.label }}:</strong> {{ error }}
            </div>
        {% endfor %}
    {% endifnotequal %}
{% endfor %}

</body>
