<nav class="navbar navbar-static-top navbar-expand-lg">
    <div class="navbar-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-3x" style="color: #ffffff;"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	                    {% if user.is_authenticated %}
						<h6 class="dropdown-header">{{ user.get_full_name }}</h6>
		                    <a class="dropdown-item"
		                        href="https://gitreports.com/issue/CHSCodeForChange/PassMaster-Web"
		                        target="_blank">
		                        Report a bug
		                    </a>
		                    <div class="dropdown-divider"></div>
		                    <a class="dropdown-item" href="/logout">Logout</a>
	                    {% else %}
		                    <h6 class="dropdown-header">Not Logged in</h6>
		                    <a class="dropdown-item" href="/login">Login</a>
	                    {% endif %}

                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
