<div class="pass-card card" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pass.student.profile.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ pass.startTimeRequested }}
            - {{ pass.endTimeRequested }}</h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Left: {{ pass.timeLeftOrigin }}</li>
        <li class="list-group-item">Time Arrived:
            {% ifequal timeArrivedDestination None %}
                <a href="/teacher/checkin/{{ pass.id }}">
                    <button class="btn btn-info">Check In</button>
                </a>
            {% else %}
                {{ pass.timeArrivedDestination }}
            {% endifequal %}
        </li>
    </ul>
</div>