<div class="card" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pass.student.profile.name }} to {{ pass.destinationTeacher }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ pass.startTimeRequested }}
            - {{ pass.endTimeRequested }}</h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Left:
            {% ifequal pass.timeLeftOrigin None %}
                <a href="/teacher/checkout/{{ pass.id }}">
                    <button class="btn btn-info">Check Out</button>
                </a>
            {% else %}
                {{ pass.timeLeftOrigin }}
            {% endifequal %}
        </li>
        <li class="list-group-item">Time Arrived: {{ pass.timeArrivedDestination }}</li>
    </ul>
</div>