<div class="pass-card card" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pass.student.profile.name }} to {{ pass.location }}</h5>
        <h5 class="card-subtitle mb-2 text-muted">{{ pass.startTimeRequested|date:"N j Y" }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"P" }}
            - {{ pass.endTimeRequested|date:"P" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Left: {{ pass.timeLeftOrigin|default:"N/A" }}</li>
    </ul>
</div>