{% include 'header.html' %}

{% include 'navbar.html' %}

{% load static %}

<body>
<h1 class="display-1">Passes 
    <div class="expand" style="display: inline-block">
        <a class="plus" data-toggle="collapse" href="#collapseNewPassForm" aria-pressed="true" role="button" aria-expanded="false" aria-controls="collapseNewPassForm">+</a>
    </div>
</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 collapse" id="collapseNewPassForm">
        {% include 'teacher/fragments/create_pass_fragment.html' %}
    </div>
</div>

<div class="row mx-5">
    <div class="col-md-3">
        <a class="btn btn-primary btn-block" id="unapproved-button" href="#">Unapproved</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block" id="incoming-button" href="#">Incoming</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block" id="outgoing-button" href="#">Outgoing</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-secondary btn-block" id="all-button" href="#">All</a>
    </div>
</div>

<div id="home-fragment" style="display: none;">
    {% include 'teacher/fragments/home_fragment.html' %}
</div>

<div id="all-fragment" style="display: none;">
    {% include 'teacher/fragments/all_fragment.html' %}
</div>

<div id="outgoing-fragment" style="display: none;">
    {% include 'teacher/fragments/outgoing_fragment.html' %}
</div>

<div id="incoming-fragment" style="display: none;">
    {% include 'teacher/fragments/incoming_fragment.html' %}
</div>

<div id="unapproved-fragment">
    {% include 'teacher/fragments/unapproved_fragment.html' %}
</div>

</body>

{% include 'scripts.html' %}
<script> 
    $(document).ready(function() {
        var expanded = false;
        $('.expand').click(function() {
            if (expanded){
                $(this).css({'transform' : 'rotate('+ 0 +'deg)'});
            } else {
                $(this).css({'transform' : 'rotate('+ 45 +'deg)'});
            }
            expanded = !expanded;
        });
    });
    var $home_button = $('#home-button');
    var $all_button = $('#all-button');
    var $outgoing_button = $('#outgoing-button');
    var $incoming_button = $('#incoming-button');
    var $unapproved_button = $('#unapproved-button');

    var $home_fragment = $('#home-fragment');
    var $all_fragment = $('#all-fragment');
    var $outgoing_fragment = $('#outgoing-fragment');
    var $incoming_fragment = $('#incoming-fragment');
    var $unapproved_fragment = $('#unapproved-fragment');
    function activate(elem, frag) {
        frag.show();
        elem.removeClass('btn-secondary');
        elem.addClass('btn-primary');
    }
    function deactivate(elem, frag) {
        frag.hide();
        elem.addClass('btn-secondary');
        elem.removeClass('btn-primary');
    }
    $home_button.click(function(e){
        activate($home_button, $home_fragment);
        deactivate($all_button, $all_fragment);
        deactivate($outgoing_button, $outgoing_fragment);
        deactivate($incoming_button, $incoming_fragment);
        deactivate($unapproved_button, $unapproved_fragment);
    });
    $all_button.click(function(e){
        deactivate($home_button, $home_fragment);
        activate($all_button, $all_fragment);
        deactivate($outgoing_button, $outgoing_fragment);
        deactivate($incoming_button, $incoming_fragment);
        deactivate($unapproved_button, $unapproved_fragment);
    });
    $outgoing_button.click(function(e){
        deactivate($home_button, $home_fragment);
        deactivate($all_button, $all_fragment);
        activate($outgoing_button, $outgoing_fragment);
        deactivate($incoming_button, $incoming_fragment);
        deactivate($unapproved_button, $unapproved_fragment);
    });
    $incoming_button.click(function(e){
        deactivate($home_button, $home_fragment);
        deactivate($all_button, $all_fragment);
        deactivate($outgoing_button, $outgoing_fragment);
        activate($incoming_button, $incoming_fragment);
        deactivate($unapproved_button, $unapproved_fragment);
    });
    $unapproved_button.click(function(e){
        deactivate($home_button, $home_fragment);
        deactivate($all_button, $all_fragment);
        deactivate($outgoing_button, $outgoing_fragment);
        deactivate($incoming_button, $incoming_fragment);
        activate($unapproved_button, $unapproved_fragment);
    });
</script>
