<div class="pass-card card" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pass.student.profile.name }} to {{ pass.location }}</h5>
        <h5 class="card-subtitle mb-2 text-muted">{{ pass.startTimeRequested|date:"N j Y" }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"P" }}
            - {{ pass.endTimeRequested|date:"P" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
        <a href="/teacher/approve/{{ pass.id }}" class="btn btn-primary">Approve</a>
    </div>
</div>