
{{ create_form.media.css }}
{% load static %}

<div class="card card-body card-form" style="width: 100%;">
    <div class="row mb-4">
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" id="set_type_teacher">Teacher</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" id="set_type_destination">Destination</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" id="set_type_srt">SRT</button>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div>{{ create_form.pass_type }}</div>
        <div class="row">
            <div class="col-md-6">
                {# Destination Teacher Field #}
                <div id="id_destinationTeacher">
                    <div class="form-label" id="destinationTeacherLabel">{{ create_form.destinationTeacher.label }}</div>
                    <div> {{ create_form.destinationTeacher }} </div>
                    {% for error in create_form.destinationTeacher.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>

                {# Location #}
                <div class="form-label" id="locationLabel">{{ create_form.location.label }}</div>
                <div style="margin-bottom: 24px;"> {{ create_form.location }} </div>
                {% for error in create_form.location.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {# Origin Teacher Field #}
                <div class="form-label" id="originTeacherLabel">{{ create_form.originTeacher.label }}</div>
                <div> {{ create_form.originTeacher }} </div>
                {% for error in create_form.originTeacher.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {# Students Field #}
        <div class="form-label">{{ create_form.students.label }}</div>
        <div> {{ create_form.students }} </div>
        {% for error in create_form.students.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        {# Start and end time #}
        <div class="row">
            <div class="col-md-4">
                <div class="form-label">{{ create_form.date.label }}</div>
                <div> {{ create_form.date }} </div>
                {% for error in create_form.date.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            </div>
            <div class="col-md-4" id="end-time">
                <div class="form-label">{{ create_form.start.label }}</div>
                <div> {{ create_form.start }} </div>
                {% for error in create_form.start.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4" id="start-time">
                <div class="form-label">{{ create_form.end.label }}</div>
                <div> {{ create_form.end }} </div>
                {% for error in create_form.end.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-8">
                {# SRT Session #}
                <div class="form-label" id="sessionLabel">{{ create_form.session.label }}</div>
                <div> {{ create_form.session }} </div>
                {% for error in create_form.session.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {# Reason #}
        <div class="form-label">{{ create_form.reason.label }}</div>
        <div> {{ create_form.reason }} </div>
        {% for error in create_form.reason.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        {# Submit button #}
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 mt-3">
                <button class="btn btn-info btn-block" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>


{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% endblock %}

{{ create_form.media.js }}

<script>
    $('#set_type_teacher').click(function(e) {
        $('#id_pass_type').val("1");
        $('#id_destinationTeacher').show();
        $('#destinationTeacherLabel').show();
        $('#id_location').hide();
        $('#locationLabel').hide();
        $('#start-time').show();
        $('#end-time').show();
        $('#id_session').hide();
        $('#sessionLabel').hide();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_destination').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_srt').removeClass('btn-primary').addClass('btn-secondary');
    });
    $('#set_type_destination').click(function(e) {
        $('#id_pass_type').val("2");
        $('#id_destinationTeacher').hide();
        $('#destinationTeacherLabel').hide();
        $('#id_location').show();
        $('#locationLabel').show();
        $('#start-time').show();
        $('#end-time').show();
        $('#id_session').hide();
        $('#sessionLabel').hide();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_teacher').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_srt').removeClass('btn-primary').addClass('btn-secondary');
    });
    $('#set_type_srt').click(function(e) {
        $('#id_pass_type').val("3");
        $('#id_destinationTeacher').show();
        $('#destinationTeacherLabel').show();
        $('#id_location').hide();
        $('#locationLabel').hide();
        $('#start-time').hide();
        $('#end-time').hide();
        $('#id_session').show();
        $('#sessionLabel').show();
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        $('#set_type_teacher').removeClass('btn-primary').addClass('btn-secondary');
        $('#set_type_destination').removeClass('btn-primary').addClass('btn-secondary');
    });
    $(document).ready(function() {
        var d = new Date();
        $('#id_start').val(d.getHours()+":"+d.getMinutes());
        $('#id_end').val(d.getHours()+1+":"+d.getMinutes());
        {# Hide things that should be hidden initially #}
        $('#id_location').hide();
        $('#locationLabel').hide();
        $('#id_session').hide();
        $('#sessionLabel').hide();
    });
</script>